.root {
    background-color: white;
    border-radius: 4px;
    width: 800px;
    margin: 10px auto;
    padding: 16px;
}

.list {
    min-height: 200px;
}

.list-item {
    width: 188px;
    height: 188px;
    border-radius: 4px;
    display: inline;
    object-fit: cover;
    margin: 2px;
}